.image_picker {
  
    .responsive {
      position: relative;
      opacity: 1;
  
      .thumbnail {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px;  /* Rounded border */
        opacity: 1;
  
        &:hover {
          box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.7);
        }
      }
    
  
      .selected {
        background-color: rgba(0, 140, 186, 1);
      }
      
      &:hover {
        cursor: pointer;
      }

    }
    .selected {
      opacity: 0.1;
    }

    .checked {
      display: inline-block;
      transition: .5s ease;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 1px;
      font-size: 1000%;
      cursor: pointer;
    }

      .unchecked {
        display: none;
      }
  
    .clear {
      clear: both;
    }

  }

  .place_img .checked {
      font-size: 700%;
  }

  .card-text{
    line-height: 1.25em;
    height: 10em;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    width: 100%;
}

  .card-text:after{
    content:"";
    position:absolute;
    top:80%;
    left:0;
    height:40px;
    width:100%;
    background: -webkit-linear-gradient(#fff,rgb(250, 250, 250));
    background: linear-gradient(rgba(0,0,0,0),rgb(250,250,250));
  }

  .my-fixed-btn{
    display:block;
    position:fixed;
    right:1%;
    top:80%;
    border: 5px solid #ddd;
    border-radius: 100%;
  }