#main, #main>.row {
  height:90%;
}

#left {
  height:85%;
  width: 66.5%;
  overflow-y:scroll;
  position: fixed;
}

#map-canvas {
  width:33.4%;
  height:85%;
  position:fixed;
  right:0;
  top:56px;
  bottom:0;
}